<h1>Videogames</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Videogame difficulty</th>
      <th>Publisher</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videogames.each do |videogame| %>
      <tr>
        <td><%= videogame.title %></td>
        <td><%= videogame.description %></td>
        <td><%= videogame.videogame_difficulty %></td>
        <td><%= videogame.publisher %></td>
        <td><%= videogame.rating %></td>
        <td><%= link_to 'Show', videogame %></td>
        <td><%= link_to 'Edit', edit_videogame_path(videogame) %></td>
        <td><%= link_to 'Destroy', videogame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Videogame', new_videogame_path %>
